---
import Meta from "../components/Meta.astro";
---

<!doctype html>
<html>
  <head>
    <Meta lang="en" />
    <script>
        // @ts-ignore
        console.log(/(.*.*)*^/.test(.1+.2))
    </script>
  </head>
  <body></body>
</html>

