---
import Meta from "../components/Meta.astro";
import {languages} from '../i18n/ui'
---

<!doctype html>
<html>
  <head>
    <Meta lang="en" />
    <script is:inline define:vars={{languages}}>
      const userLang = navigator.language;

      if (Object.keys(languages).includes(userLang)) {
        window.location.href = `/${userLang}/`;
      } else {
        window.location.href = '/en/';
      }
    </script>
  </head>
  <body> </body>
</html>
