---
import Meta from "../components/Meta.astro";
---

<!doctype html>
<html>
  <head>
    <Meta lang="en" />
    <script>
      const userLang = navigator.language;
      if (['en', 'uk'].includes(userLang)) {
        window.location.href = `/${userLang}/`;
      } else {
        window.location.href = '/en/';
      }
    </script>
  </head>
  <body> </body>
</html>
