---
import {ui} from '../../i18n/ui';
import {getLangFromUrl, useTranslation} from '../../i18n/utils';
import Layout from '../../layouts/Layout.astro';
import Link from '../../components/Link.astro';
import MusicList from '../../components/Music/List.svelte';

export function getStaticPaths() {
  const langNames = Object.keys(ui) as (keyof typeof ui)[];

  return langNames.map(lang => ({params: {lang}}));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<Layout lang={lang}>
  <div class="middle">
    <div class="md:grid md:grid-cols-2 md:gap-4">
      <section>
        <h3
          class="text-2xl my-12 text-[transparent] font-bold bg-clip-text bg-gradient-to-r from-lavender to-mauve"
        >
          {t('title')}
        </h3>

        <p
          class="text-lg text-[transparent] bg-clip-text bg-gradient-to-br from-text to-subtext1"
        >
          <Fragment set:html={t('description')} />
        </p>

        <p class="mt-2 text-text text-xs">
          <Fragment set:html={t('prevKnown')} />
        </p>
      </section>

      <section class="mt-12 md:row-span-2">
        <p><Fragment set:html={t('neko')} /></p>
        <a target="_blank">
          <img
            class="object-cover min-w-full min-h-96 max-w-full sm:min-h-[32rem] max-h-96"
            id="neko"
          />
        </a>
      </section>

      <section class="mt-12">
        <h4>{t('connect')}</h4>

        <div class="flex flex-col gap-2">
          <ul class="flex flex-col mt-2 gap-1.5">
            <Link
              iconName="github"
              text="Github"
              href="https://henmalib.dev/github"
              shortlink="@henmalib"
              lineColor="#57606a"
            />

            <Link
              iconName="leetcode"
              text="leetcode"
              href="https://henmalib.dev/leetcode"
              shortlink="henmalib"
              lineColor="#fd9d18"
            />

            <Link
              iconName="discord"
              text="Discord"
              href="https://discordapp.com/users/279266228151779329"
              shortlink="@henmalib"
              lineColor="#161cbc"
            />

            <Link
              iconName="telegram"
              text="Telegram"
              href="https://henmalib.dev/telegram"
              shortlink="@henmalib"
              lineColor="#25a3e1"
            />

            <Link
              iconName="steam"
              text="Steam"
              href="https://henmalib.dev/steam"
              shortlink="henmalib"
              lineColor="#fff"
            />

            <Link
              iconName="monkeytype"
              text="Monkeytype"
              href="https://henmalib.dev/monkeytype"
              shortlink="henmalib"
              lineColor="#e2b714"
            />

            <Link
              iconName="wakatime"
              text="Wakatime"
              href="https://henmalib.dev/wakatime"
              shortlink="henmalib"
              lineColor="#fff"
            />

            <Link
              iconName="lastfm"
              text="Last.fm"
              href="https://henmalib.dev/lastfm"
              shortlink="Simidzu"
              lineColor="#d92323"
            />

            <Link
              iconName="coffee"
              text="Buymeacoffee"
              href="https://henmalib.dev/coffee"
              shortlink="henmalib"
              lineColor="#ffdd00"
            />
          </ul>
        </div>
      </section>
    </div>

    <section class="mt-4 md:mt-12" id="music">
      <h4 class="text-xl mb-2">My last scrobbles:</h4>
      <MusicList client:load />
    </section>
  </div>
</Layout>

<script>
  const url = 'https://nekos.best/api/v2/neko';
  const nekoImg = document.getElementById('neko')! as HTMLImageElement;
  fetch(url)
    .then(r => r.json())
    .then(json => {
      const res = json.results[0];
      nekoImg.src = res.url;
      (nekoImg.parentElement! as HTMLAnchorElement).href = res.source_url;
    });

  nekoImg.style.setProperty('--pos', '0%');
  window.onscroll = () => {
    const current = window.scrollY;

    nekoImg.style.setProperty(
      '--pos',
      `${(current / document.body.scrollHeight) * 100}%`
    );
  };
</script>

<style>
  #neko {
    visibility: hidden;
    object-position: 50% var(--pos);
  }

  #neko[src] {
    visibility: visible;
  }

  [data-icon] {
    font-size: 2rem;
    @apply text-subtext1;
  }
</style>
